@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@87.5,200..900&display=swap');
* {
    font-style: normal;
    font-optical-sizing: auto;
    font-family: "Inconsolata", monospace;
    font-variation-settings: "wdth" 87.5;
}
header {
    background-color: #161616;
    color: aliceblue;
}
.title-h1 {
    font-size: 4rem;
}
.title-p {
    font-size: 1.2rem;
}

/* Grid Update new layout*/
.grid-main {
    width: 100%;
    display: grid;
    margin-top: 5px;
    justify-items: center;
}
.grid-container {
    gap: 3px;
    width: 1336px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.macarron {
    display: none;
}
img {
    width: 100%;
}
@media(max-width: 1100px) {
    .grid-container {
        width: 98%;
        grid-template-columns: repeat(2, 1fr);
    }
    .item-final {
        display: none;
    }
    .macarron {
        display: grid;
    }
}
@media(max-width: 600px) {
    .grid-container {
        width: 98%;
        grid-template-columns: 1fr;
    }

    .item-final {
        display: grid;
    }
}/* Final grid*/

.clear {
    background-color: #161616;
}
.close {
    background-color: #4a4d4e;
}
.facebook {
    cursor: pointer;
    font-size: 2rem;
    margin: 5px;
    color: #008cff;
}
.instagram {
    cursor: pointer;
    font-size: 2rem;
    margin: 5px;
    color: #f100c7;
}
.whatsapp {
    cursor: pointer;
    font-size: 2rem;
    margin: 5px;
    color: #04aa6d;
}
footer {
    margin-top: 5px;
    background-color: #161616;
}
footer p {
    color: aliceblue;
}
@media(max-width: 600px) {
    img {
        width: 100%;
    }
}