* {
    color: aliceblue;
}

.myheader {
    background-color: #6f27ea;
}



.facebook {
    color: rgb(17, 100, 253);
}

.instagram {
    color: #fc00d9;
}

.whatsapp {
    color: green;
}



@media (max-width: 600px) {

    .myheader a {
        font-size: 2rem;
        padding: 8px;
    }
}